html,
body {
    height: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 22px;
    font-weight: 500;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgb(18, 75, 116) 0%, rgb(40, 116, 163) 50%, rgb(18, 75, 116) 100%);
    color: #D1BCE3;
    backdrop-filter: blur(10px);
    color: white;


}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);


}

.main {
    grid-column: 4 / -4;
    text-align: center;


}

#title {
    font-size: 36px;
}

#description {
    font-style: italic;
}

#title,
#description {
    text-shadow: 0 0 10px black;
}

form {
   

    display: grid;
    text-align: left;
    grid-template-columns: repeat(16, 1fr);
    background-color: #B4E4FF;
    color: rgb(40, 116, 163);
    margin-bottom: 50px;
    font-weight: bolder;

    

}

.content {

    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

label {
    grid-column: 1/-1;
    margin: 0px;
    padding: 14px 0px;
}

.text-box {
    width: 95%;
    padding: 10px;
    font-size: 18px;
    margin: 0;
}

label>p {
    padding: 0;
    margin: 6px 0px;
}

#drop-down {
    width: 97.5%;
    color: gray;
}

#submit {
    width: 98%;
    margin: 0 0 12px 0;
    background: linear-gradient(90deg, rgb(18, 75, 116) 0%, rgb(40, 116, 163) 50%, rgb(18, 75, 116) 100%);
    border: #19297c 1px solid;
    color: white;
}

#submit:hover {
    background: linear-gradient(90deg, rgb(40, 116, 163) 0%, rgb(18, 75, 116) 50%, rgb(40, 116, 163) 100%);

}

.block-class {
    display: block;
}

@media screen and (max-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
    }

    .main {
        grid-column: 2/-2;
    }

    #drop-down {
        width: 101%;

    }

    #submit {
        width: 101%;
    }

}


@media screen and (max-width: 1000px) {

    .main {
        grid-column: 2/-2;
    }

    #submit {
        width: 99%;
    }

}
input{
    background-color: white;
    border: 1px solid gray;
}
